@model YummyMummy.Models.Recipe

<tr>
    <td>@Model.ID</td>
    <td><a asp-controller="Category" asp-action="Details" asp-route-id="@Model.Category.ID">@Model.Category.Name</a></td>
    <td><a asp-action="Details" asp-route-id="@Model.ID">@Model.Name</a></td>
    <td>@Model.CookingTime</td>
    <td>@Model.Cost.ToString("c")</td>
    <td>
        <a asp-action="Update" class="btn btn-sm btn-warning" asp-route-id="@Model.ID">Update</a> |
        <a asp-action="Details" class="btn btn-sm btn-warning" asp-route-id="@Model.ID"> Details </a> |
        <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@Model.ID"> Delete </a> |
        <a asp-action="AddIngredient" class="btn btn-sm btn-warning" asp-route-id="@Model.ID">Add Ingredient</a> |
        <a asp-action="AddReview" class="btn btn-sm btn-warning" asp-route-id="@Model.ID">Add Review</a>
    </td>
    
</tr>
