@model YummyMummy.Models.RecipeReview


<form method="post">
    @foreach (var info in typeof(RecipeReview).GetProperties())
    {
    <div class="form-group">
        @if (info.Name == "ID")
        {
            <input type="hidden" asp-for="ID" />
        }
        else if (info.Name == "Recipe")
        {
            <label for="@info.Name">@info.Name:</label>
            <label for="@info.Name"><a asp-controller="Recipe" asp-action="Details" 
                    asp-route-id="@Model.Recipe.ID">@Model.Recipe.Name</a></label>
        }
        else if (info.Name == "Created" || info.Name == "Updated")
        {
        }
        else if (info.Name == "RecipeID")
        {
            <input type="hidden" asp-for="RecipeID" />
        }
        else if (info.Name == "Message")
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.Message):
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Message, 10, 100, null)
            </div>
            <span asp-validation-for="Message" class="text-danger"></span>
        }
        else
        {
            <label for="@info.Name"> @info.Name:</label>
            <input id="@info.Name" name="@info.Name" value="@info.GetValue(Model, null)" class="form-control" />
        }

    </div>
    }

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.RecipeID">Back to Recipe Details</a> &nbsp; | &nbsp;
    <a asp-action="List">Back to List</a> &nbsp; | &nbsp;
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
