@model YummyMummy.Models.Menu

<tr>
    <td>@Model.Name</td>
    <td>@Model.TotalCost</td>
    <td>@Model.TotalCookingTime</td>
    <td>@Model.MenuCreated</td>
    <td>
        <a asp-action="Update" asp-route-id="@Model.ID">Update</a> |
        <a asp-action="Details" asp-route-id="@Model.ID"> Details </a> |
        <a asp-action="Delete" asp-route-id="@Model.ID"> Delete </a>
    </td>
</tr>
