@model YummyMummy.Models.Ingredient

<tr>
    <td width="10%">@Model.ID</td>
    <th width="40%" scope="row">@Model.Name</th>
    <th width="20%" scope="row">@Model.Updated</th>
    <td width="30%">
        <a asp-action="Update" asp-route-id="@Model.ID">Update</a> |
        <a asp-action="Details" asp-route-id="@Model.ID"> Details </a> |
        <a asp-action="Delete" asp-route-id="@Model.ID"> Delete </a>
    </td>
</tr>
